/* CSS Variables */
:root {
  --primary: #001f3f; /* navy blue header color */
  --secondary: #9a9da0;
  --accent: #f4f4f4; /* very light gray */
  --bottom-footer-bg: #000000; /* black */
}

/* For desktop: */
main {
  flex: 1;
  min-height: 70vh;
  background-color: var(--accent);
}

.content {
  padding-left: 5%;
  padding-right: 5%;
}

/* Header */
.header {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--primary);
  padding-left: 5%;
  padding-right: 5%;
}
.navbar-brand {
  color: var(--secondary);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Dropdown */
.dropdown {
  display: block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
.footer {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--primary);
  color: var(--secondary);
  text-align: center;
}
.bottom-footer {
  text-decoration: none;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  background-color: var(--bottom-footer-bg);
  color: var(--secondary);
  text-align: center;
}

/* footer social icons */
.footer a,
.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: inherit; /* Ensure link color matches the surrounding text */
}

.footer a:hover,
.footer a:focus {
  text-decoration: none; /* Ensure the underline doesn't appear on hover */
  color: var(--accent); /* Optional: Change color on hover if desired */
}

a.socialIcon {
  margin: 0 1rem;
}
.socialIcon a:hover {
  color: var(--accent);
}
.socialIcon {
  margin: 0 1rem;
  transition: transform 250ms;
}
a.facebookIcon {
  color: var(--secondary);
}
a.youtubeIcon {
  color: var(--secondary);
}
a.email {
  color: var(--secondary);
}

/* jumbotron */
.jumbotron.jumbotron-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://j.gifs.com/YE6OJA.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 3em 3em;
  color: var(--accent);
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px blue;
}

.typewriter-container {
  text-align: center;
  color: var(--accent);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px blue;
}

/***** visit website button *****/
.my-button {
  font-size: 1em;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border-radius: 45px;
  height: auto;
  padding: 0.5em 1em;
  text-decoration: none;
}

.box {
  font-family: 'Maven pro', sans-serif;
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  padding: 30px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.img-portfolio {
  max-width: 100%;
}

/* WebsiteList */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table td {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

.description-cell {
  width: 25%;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

/* Responsive adjustments */
@media (max-width: 700px) {
  .navbar-toggler {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .navbar-brand {
    color: var(--accent);
  }

  .box {
    font-size: small;
  }

  .nav {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about {
    background-image: url(https://media1.tenor.com/images/b1b118ed130d9ab085e475ab0ecadcb6/tenor.gif?itemid=15826314);
    background-repeat: no-repeat;
    color: var(--secondary);
    margin-bottom: 1em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  h3 {
    font-size: small;
    color: var(--primary);
  }

  .table-responsive {
    overflow-x: auto;
  }

  .table th,
  .table td {
    white-space: normal;
    word-wrap: break-word;
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .description-cell {
    display: block;
    width: 800px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }
}
